.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 4rem;
	padding: 0;
	border-bottom: 1px solid rgb(69, 69, 69, 0.2);
	z-index: 50;
	background: #fff;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 1rem;
	font-size: 1.5rem;
	line-height: 4rem;
	font-weight: 400;
}
.header h1::before {
	content: '';
	display: block;
	background-image: url('/assets/logo.svg');
	background-size: contain;
	height: 2.5rem;
	margin: 0.75rem 1rem;
	float: left;
	width: 2.5rem;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	margin: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	color: #2ebcbc;
	will-change: background-color;
}

.header nav a:active {
	background: #def1f1;
}
